<app-logout></app-logout>
<div class="container pt-3">
	<div class="row">
		<div class="col-3">
			<app-group-summary [groupSummary]="groupSummary"></app-group-summary>
		</div>
		<div class="col-6">
			<div class="row p-3">
				<app-group-invitation
					[groupCode]="groupSummary?.group?.code"
					[contacts]="contacts"
				></app-group-invitation>
			</div>
			<div class="row p-3 mx-5">
				<app-group-chart
					class="m-3"
					*ngIf="groupSummary"
					[groupSummary]="groupSummary"
				></app-group-chart>
			</div>
		</div>
		<div class="col-3">
			<app-user-group-bills
				[currency]="groupSummary?.group?.currency"
			></app-user-group-bills>
		</div>
	</div>
	<div class="row">
		<div class="d-grid gap-2">
			<button
				class="btn btn-dark"
				type="button"
				data-bs-toggle="modal"
				data-bs-target="#splitModal"
			>
				Split group
			</button>
		</div>
	</div>
</div>

<!-- Bill Modal -->
<div
	class="modal fade"
	id="splitModal"
	tabindex="-1"
	aria-labelledby="splitModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="splitModalLabel">
					Group splitting summary
				</h1>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
			<div class="modal-body">
				<p *ngFor="let split of splitSummary">
					{{ split.name }} should {{ split.pay >= 0 ? "receive" : "pay" }}
					{{ makeAbs(split.pay) }} {{ groupSummary?.group?.currency }}
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
					Close
				</button>
			</div>
		</div>
	</div>
</div>
